/* Global css */

body{
  margin: 0;
  font-family: "Roboto",sans-serif;
  -webkit-font-smoothing : "Roboto",sans-serif;
  font-style: normal;
  
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}
:root{
  --primary: indigo;
  --heading-color:black ;
  --bg-shade:wheat ;
  --github: red;
  --darkblue: brown;
  --black :black ;
  --white:white;
}
.btn{
  font-family: "Roboto" , sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  --ms-border-radius: 5px;
  --o-border-radius: 5px;
  transition: background-color 0.5s;

   --webkit-transition: background-color 0.5s ;
  --moz-transition: background-color 0.5s ;
  --ms-transition:  background-color 0.5s;
  --o-transition:  background-color 0.5s;

}
.btn-outline-primary{
  color:var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover{
  color:var(--white);
  background-color: var(--primary);
 
}
.btn-primary{
  color:var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover{
  color:var(--primary);
  background-color: var(--white);
 
}
.btn-github{
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px 0px gray 0.95;
  gap: 16px;
}
.btn-github:hover{
  color: var(--github);
  background-color: var(--white);
}

/* global css ends here */

/* Main Heading */


/* heading h1 */
h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
}

/* Heading h2 */
h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
}
/* 
Heading h3 */
h3{
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

/* 
Pagraph text large small medium */
/* Body 1 */
.text-lg{
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* Body 2 */
.text-md{
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

/* Body 3 */
.text-sm{
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* section titles */
/* skills and about me */
.section-title{
  color: var(--heading-color);
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* protfolio testimonial and contact me */
.sub-title{
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section titles end */


/* Navbar section starts from here */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  align-items: center;
  width: 15px;
  height: 15px;
}
.navbar-logo img{
  
  width: 30px;
  height: 25px;
}
.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: max-height 0.3s ease-out;
  max-height: 0;

}

.navbar-menu.active {
  max-height: 300px; /* Adjust according to your needs */
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}
/* Navbar style ends */

/* Hero section style */
.hero-section{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  padding: 122.22px 80.33px 122.22px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);

}
.hero-section-content-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid: 32px;
}
.hero-section-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid: 21px;
}
.hero-section-content-box > button{
  margin-top: 21.33px;
}
.hero-section-title{
  color: var(--heading-color);
  font-size: 74px;
  font-weight: 400;
  line-height: 90x;
  align-items: stretch;

}
.hero-section-title-color{
  color: var(--primary);
}
.hero-section-description{
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.hero-section-img{
  display: flex;
}
.hero-section-img > img{
  width: 100%;
  height: 100%;

}
/* Hero section style end */
 /* My Skills starter */
 .skills-section{
  display: flex;
  padding: 149.9px 85.5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.67px;

 }
 .skills-section-heading{
  color: var(--heading-color);
  font-size: 100px;
  font-weight: 700;
  line-height: 77px;
 }
 .skills-section-container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 42.6px;
  grid-template-columns: repeat(3 ,1fr);

 }
 .skills-section-card{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  gap: 1 0 0;
  border-radius: 11px;
  background-color: var(--bg-shade);
  min-height: 250px;
 }
 .skills-section-card :hover{
  border-bottom: 4px solid var(--primary);
 }
 .skills-section-card :hover .skills-section-description{
  color: var(--darkblue);
 }
 .skills-section-img{
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 13.333px;
  border-radius: 10.22px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgb(85, 82, 82);
 }
 .skills-section-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
 }
 .skills-section-title{
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;

 }
.skills-section-description{
  color: var(--black);
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}
/* skills style ending */

/* About us */
.about-section{
  display: grid;
  padding: 133.3px 85,33px;
  align-items: center;
  gap: 114px;
  grid-template-columns: repeat(2,1fr);
}
.about-section-img img{
  width: 100%;
  height: 100%;
}

/* About ends */
/* portfolio section starter */
.portfolio-section{
  display: flex;
  padding: 112px 85px;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.portfolio-container-box{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.portfolio-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 80px;
}
.portfolio-section-container{
  display: flex;
 align-items: center;
  justify-content: center;
 gap: 42px;
  width: 100%;
}
.portfolio-section-img{
  border-radius: 80px;
  width: 100%;
}
.portfolio-section-img > img{
  width: 100%;
}
.portfolio-section-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background-color: #fff;
  box-shadow: 0 0 32px 0 rgb(73, 70, 70);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.portfolio-section-card-content{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.portfolio-section-title{
  color:var(--heading-color) ;
}
.portfolio-link{
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio-section-card :hover path{
stroke: aqua;
}

/* portfolio style ends here */